@media (max-width: 1366px){

.store-item{

margin-left: 40px;

}

.log-reg__span{

margin: 0 15px 0 0;

}

.info-section{

flex-direction: column;
align-items: stretch;

}

.info-product-day,
.info-about-us,
.about-us-text{

max-width: none;

}

.about-us-text{

display: flex;
width: calc(100% - 30px);
flex-wrap: wrap;


}

.info-utility-wrapper,
.product-day-wrapper{

display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.info-about-us,
.info-product-day,
.info-utility{

margin: 0 21px 0 21px;

}

.info-product-day{

width: auto;

}


}

@media (max-width: 1280px){

.store-item{

margin-left: 10px;

}

.nav-list__ul, .nav-bar__nav{

font-size: 16px;

}

.nav-list__ul li{

margin: 0 20px 0 15px;

}

.nav-list__ul li:before{

top: 6px

}

.categories-item{

width: 340px;
height: 340px;


}

.ctg-item-name{

font-size: 28px;
text-align: center;

}

.nav-footer,
.footer-info{

max-height: none;

}

.nav-footer,
.strip-info{

flex-wrap: wrap;
justify-content: space-around;

}


.strip-info-item:not(:last-child){

border: none;
padding: 0;

}

}


@media (max-width: 1024px){

.store-item{

margin-left: 10px;

}

.nav-list__ul, .nav-bar__nav{

font-size: 14px;

}

.nav-list__ul li{

margin: 0 10px 0 15px;

}

.nav-list__ul li:before{

top: 5px

}

.logo-cart__div{

flex-direction: column;

}

.contact-cart__div{

max-width: none;
border-top: 1px solid #bdbdbd

}

.ph-numbers__div{

margin-left: 15px;

}

.categories{

flex-direction: column-reverse;
align-items: center;

}

.categories-item{

margin: 10px 0;
flex-direction: row;
width: calc(100% - 20px);
height: 150px;
align-items: center;

}

.ctg-item-line{

transform-origin: 50% 50%;
transform: rotateZ(90deg);

}

.ctg-item-text,
.ctg-item-btn{

margin: 0;

}

.ctg-item-text{

font-size: 18px;

}


}


@media (max-width: 900px){

.nav-list__ul, .nav-bar__nav{

font-size: 12px;

}

.ctg-item-name{

font-size: 24px;

}

.ctg-item-btn{

font-size: 18px;

}

}

@media (max-width: 768px){


.nav-list-mobile{

display: inline-block;

}

.nav-list__ul{

display: none;

}

.burger-btn, .catalog-number{

height: 40px;

}

.search-icon{

width: 20px;

}

.ctg-item-text{

font-size: 17px;

}

.categories-item{

/*flex-wrap: wrap;*/

}

}


@media (max-width: 560px){

.header-description__span{

display: none;

}

.ctg-item-btn{

display: none;

}

.ctg-item-btnmob{

display: block;
margin: 10px 0 0 0;

}

.best-deal-header{

flex-direction: column;

}

}

@media (max-width: 480px){

.main-ph-number__a{

font-size: 20px;

}

.call-back__a,
.address__div{

font-size: 12px;

}

.catalog{

font-size: 13px;
width: 54px;

}

.catalog-name-text{

display: none;

}

.catalog-item{

width: 200px;

}

.search-area,.search-icon{

z-index: 5;

}

.search-area{

font-size: 16px;

}

.burger-btn{

margin: 0;

}


.slider-prev-btn{

left: 10px;

}

.slider-nxt-btn{

right: 10px;

}

}

@media (max-width: 420px){

.address__div{

display: none;

}

.main-logo{

width: 100%;
height: auto;

}


.ctg-item-text{

font-size: 14px;

}

.best-deal-name{

font-size: 28px;

}


}
