@font-face {

font-family: Roboto;

}

nav{

margin: 0;

}

li{

list-style-type: none;

}

body{

max-width: 1920px;
width: 100%;
margin: 0;

}

.wrapper-center{

max-width: 1400px;
width: 100%;
margin: 0 auto;

}

.nav-bar__nav,
.nav-list__ul{

color: #3b3b3b;
display: flex;
font-family: Roboto, sans-serif;
font-size: 18px;
font-weight: 400;
margin: 0;

}

.nav-list-mobile.display{

display: inline-block;

}

.nav-list-mobile{

display: none;

}

.nav-list-mobile{

padding: 0;
width: 150px;
background: #fff;
z-index: 100;

}


.nav-bar__nav{

justify-content: space-between;

}

.log-reg__span,
.nav-list__ul{

padding: 12px 0;

}

.nav-list__ul{

position: relative;

}

.nav-list__ul li{

padding: 0;
margin: 0 40px 0 15px;
position: relative;


}

.nav-list__ul li:before,
.name-number-list:after,
.name-address-list:after{

content: '';
display: inline-block;
position: absolute;
width: 8px;
height: 8px;
border-bottom: 1px solid #709f01;
border-right: 1px solid #709f01;

}
.nav-list__ul li:before{

transform-origin: 0 100%;
transform: rotateZ(-45deg);
top: 8px;
left: -10px;

}


.log-reg__span{

height: 21px;

}

.log-reg__span:before{

content: '';
position: relative;
display: inline-block;
background-image: url('../img/icons/user_icon.png');
width: 15px;
height: 15px;
right: 9px;

}

.log-reg__span a{

position: relative;
color: #3b3b3b;
text-decoration: none;

}

.gray-horiz-line__hr{

border: none;
border-bottom: 1px solid #bdbdbd;
margin: 0;

}


.logo-cart__div{

display: flex;
align-items: center;
/*height: 114px;*/

}

.logo-description{

display: flex;
justify-content: space-between;

}

.header-description__span{

width: 180px;
color: #282828;
font: 400 14px Roboto, sans-serif;
padding: 8px 0 8px 13px;
border-left: 1px solid #bdbdbd;

}


.contact-cart__div{

margin: 0 0 0 auto;
display: flex;
justify-content: space-between;
max-width: 555px;
width: 100%;
align-self: stretch;
height: 114px;

}


.working-hr__div{

color: #a9a9a9;
font: 400 12px Roboto, sans-serif;

}

.ph-numbers__div,
.address__div{

display: flex;
flex-direction: column;
justify-content: center;

}

.main-ph-number__a{

font: 400 24px Roboto, sans-serif;
color: #70a000;
text-decoration: none;

}

.address__div{
margin: 10px 0 0 0;
}

.ph-number-list__ul,
.ph-number-list__ul li,
.our-address-list__ul,
.our-address-list__ul li{

margin: 0;
padding: 0;

}

.ph-number-list__ul li{

color: #a9a9a9;
font: 400 14px Roboto, sans-serif;

}

.name-number-list,
.name-address-list{ position: relative;}

.nav-list-mobile,
.ph-number-list__ul,
.our-address-list__ul,
.call-back__a{ position: relative; }

.name-number-list:after,
.name-address-list:after{

transform-origin: 0 100%;
transform: rotateZ(45deg);
right: -15px;
top: -3px;

}

.burger-nav-number,
.name-number-list{

z-index: 10;
background: #fff;
position: relative;

}

.address__div,
.call-back__a{

color: #747474;
font: 300 16px Roboto, sans-serif;
text-decoration: none;

}

.nav-list-mobile,
.ph-number-list__ul{

transition: .3s height;
background: #fff;

}


.ph-number-list__ul li:not(:first-child),
.nav-list-mobile li:not(:first-child){

top: 0;
position: absolute;
z-index: -5;
animation: zindex;
animation-fill-mode: both;
transition: .3s top;

}

.ph-number-list__ul li:first-child,
.our-address-list__ul li:first-child,
.call-back__a{

display: inline-block;
border-bottom: 1px dashed #747474;

}

.our-address-list__ul:before,
.call-back__a:before{

content: '';
display: inline-block;
position: relative;

}

.our-address-list__ul:before{

background-image: url("../img/icons/place_icon.png");
height: 20px;
width: 12px;
top: 5px;

}

.call-back__a:before{

position: absolute;
background-image: url("../img/icons/phone_icon.png");
height: 15px;
width: 13px;
left: -13px;
top: 2px;

}

.call-back__a{ margin: 0 0 0 13px; }

.cart{

background-color: #8ecf04;
align-items: center;
align-self: stretch;
justify-content: space-evenly;
display: flex;
max-width: 158px;
width: 100%;
font: 400 16px Roboto, sans-serif;
color: #fff;
cursor: pointer;

}



.cart-logo-amount{

position: relative;

}

.cart-amount{

position: absolute;
top: 0;
left: 30px;

}

.light-gray-hr-line{ border-bottom: 1px solid #ccc; }

.catalog-search{

/*max-height: 57px;*/
display: flex;
align-items: stretch;
position: relative;

}

.catalog{

margin: 0;
padding: 0;
max-width: 350px;
width: 100%;
background: #f76c06;
font: 400 20px Roboto, sans-serif;
color: #fff;
display: flex;
flex-direction: column;
position: relative;

}


.catalog-name{

z-index: 10;

}

.catalog li:not(:first-child){

position: absolute;
animation: zindex;
animation-fill-mode: both;

}
@keyframes zindex{

from,to{
z-index: 5;
}

}

.catalog-item{

max-height: 58px;
background: #f76c06;
z-index: -5;
width: 100%;
top: 0;
transition: .3s top;

}

.catalog-name,
.catalog-item{

background: #f76c06;
text-transform: uppercase;
display: flex;
align-items: center;
border-bottom: 1px solid #c45300;
box-sizing: border-box;

}

.burger-btn{

/*z-index: 10;*/
background: #f76c06;

}

.burger-btn,
.catalog-number{

width: 53px;
border-right: 1px solid #c45300;
margin: 0 8px 0 0;
height: 57px;
display: flex;
justify-content: center;
align-items: center;

}

.burger-lines:after,
.burger-lines:before{

content: '';
display: block;
position: relative;

}

.burger-lines,
.burger-lines:after,
.burger-lines:before{

width: 28px;
height: 3px;
background: #fff;

}

.burger-lines:after{ top: 5px; }

.burger-lines:before{ top: -8px; }


.search-area{

max-height: 58px;
flex-grow: 1;
font: 400 18px Roboto, sans-serif;
padding:  0 0 0 21px;
color: #a9a9a9;
box-sizing: border-box;

}

.search-icon{

position: absolute;
right: 15px;
top: 13px;

}

.adv-slider{

position: relative;
max-height: 581px;

}

.adv-slider-images a img{

max-width: 1920px;
width: 100%;
height: auto;

}

.slider-nxt-btn,
.slider-prev-btn{

display: block;
background-image: url(../img/icons/arrow.png);
height: 42px;
width: 58px;
position: absolute;

}

.slider-nxt-btn,
.slider-prev-btn{

top: calc(50% - 21px)

}

.slider-nxt-btn{

transform: rotateZ(180deg);
right: 30px;

}

.slider-prev-btn{

left: 30px;

}

.categories{

display: flex;
justify-content: space-between;
margin-top: 69px;

}

.categories-item{

padding: 15px;
width: 423px;
height: 423px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-sizing: border-box;

}

.ctg-item-name{

text-transform: uppercase;
font: 700 32px Roboto, sans-serif;
display: flex;
flex-direction: column;
align-items: center;

}

.ctg-item-line{

border: none;
background: #000;
height: 3px;
width: 82px;
margin: 28px 0 0 0;

}

.ctg-item-text{

/*color: #fff;*/
font: 400 22px Roboto, sans-serif;
max-width: 333px;
text-align: center;
margin: 37px 0 0 0;

}

.ctg-item-btn{

border: none;
text-transform: uppercase;
height: 62px;
width: 174px;
border-radius: 4px;
font: 400 22px Roboto, sans-serif;
margin: 28px 0 0 0;
cursor: pointer;

}

.ctg-item-btnmob{

display: none;
width: 120px;
height: 40px;

}

.promotional-stuff{ background: url(../img/categories-bg/orange-bg.png); }

.catalog-stuff{ background: url(../img/categories-bg/green-bg.png); }

.new-arrivals{ background: url(../img/categories-bg/yellow-bg.png); }

.promotional-stuff .ctg-item-line,
.promotional-stuff .ctg-item-btn{ background: #88ce0b; }

.catalog-stuff .ctg-item-line,
.new-arrivals .ctg-item-line,
.catalog-stuff .ctg-item-btn,
.new-arrivals .ctg-item-btn{ background: #f76c06; }


.best-deal{

margin-top: 85px;

}

.best-deal-header{

display: flex;
justify-content: space-between;
align-items: center;

}

.best-deal-name{

font: 300 36px Roboto, sans-serif;
color: #303030;
margin: 0 12px 0 0;

}

.best-deal-hline{

flex-grow: 1;
border: none;
background: #8ecf04;
height: 2px;
margin: 0 21px 0 0;

}

.best-deal-slider-nxt-btn,
.best-deal-slider-prev-btn{

width: 61px;
height: 44px;
border: 1px solid #8ecf04;
cursor: pointer;

}

.best-deal-slider-nxt-btn{

background: url(../img/icons/green_arrow.png) no-repeat center;
margin: 0 10px 0 0;
transform: rotateZ(180deg);

}

.best-deal-slider-prev-btn{

background: url(../img/icons/green_arrow.png) no-repeat center;

}

.best-deal-slider{ margin-top: 31px; }

.store-item{

max-width: 330px;
max-height: 466px;
width: 100%;
border: 1px solid #d7d7d7;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0 22px 0 20px;
box-sizing: border-box;
position: relative;
margin-left: 6px;

}

.store-item-img{ margin-top: 41px; }

.store-item-name{

font: 400 16px Roboto, sans-serif;
color: #383838;
max-width: 260px;
margin-top: 35px;

}

.store-item-info{

width: 100%;
display: flex;
justify-content: space-between;
max-width: 275px;
margin-top: 24px;

}

.info-delivery-amount{

display: flex;
flex-direction: column;
font: 300 12px Roboto, sans-serif;
color: #6b6b6b;
max-width: 124px;
width: 100%;

}

.info-delivery img,
.info-amount img{

display: inline-block;
margin: 0 5px 0 0;

}

.info-amount img{

padding: 0 4px 0 0;

}

.info-price{

color: #709f01;
font: 400 24px Roboto, sans-serif;
position: relative;

}

.info-price:after{

content: 'Цена за шт.';
display: inline-block;
position: absolute;
top: -10px;
left: 0;
color: #a2a2a2;
font: 300 10px Roboto, sans-serif;
width: 55px;

}

.buy-order{

width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: 33px 0 26px 0;

}

.buy-btn{

width: 124px;
height: 49px;
background: #f76c06;
color: #fff;
font: 400 18px Roboto, sans-serif;
text-transform: uppercase;
border: none;
border-radius: 3px;
cursor: pointer;

}

.order-link{

color: #6b6b6b;
font: 400 14px Roboto, sans-serif;
text-decoration: none;
border-bottom: 1px dashed;

}

.red-number{

color: #cc0619;
font-weight: 400;

}

.new-store-item:after,
.stock-store-item:after{

position: absolute;
width: 77px;
height: 32px;
top: 15px;
left: -6px;
color: #fff;
font: 700 14px Roboto, sans-serif;
text-transform: uppercase;
line-height: 25px;
text-align: center;

}

.new-store-item:after{

content: 'Новый';
background: url(../img/icons/yellow_label_icon.png);

}

.stock-store-item:after{

content: 'Акция';
background: url(../img/icons/orange_label_icon.png);

}

.info-section{

display: flex;
margin-top: 74px;

}


.info-about-us{

display: flex;
flex-direction: column;
max-width: 574px;
position: relative;

}

.info-about-us:after,
.info-about-us:before{

content: '';
display: block;
position: absolute;
width: 63px;
height: 66px;
top: 69px;
left: -1px;

}

.info-about-us:after{

background: url(../img/icons/circle_with_pice_icon.png);

}

.info-about-us:before{

background: #fff;
border-radius: 50%;
height: 63px;

}

.about-us-title,
.product-day-title,
.utility-title{

color: #303030;
font: 300 30px Roboto, sans-serif;

}

.green-info-line{

width: 100%;
border: none;
height: 2px;
background: #8ecf04;

}

.about-us-text{

color: #313131;
font: 400 16px Roboto, sans-serif;
border: 1px solid #8ecf04;
padding: 30px 30px 23px 34px;
margin: 43px 0 0 31px;
width: 543px;
box-sizing: border-box;

}

.about-us-text p{

margin: 0 0 20px 0;
width: 100%;

}

.about-us-more-info{

text-decoration: none;
color: #8ecf04;
font: 400 16px Roboto, sans-serif;
margin: 27px 0 0 0;
display: block;

}

.info-product-day{

max-width: 421px;
width: 100%;
display: flex;
flex-direction: column;

}

.info-product-day,
.info-utility{

margin: 0 0 0 21px;

}

.product-day-item{

margin: 14px 0 0 0;

}

.info-product-day .green-info-line,
.info-utility .green-info-line{

margin: 8px 0 0 0;

}

.little-store-item{

max-width: 423px;
border: 1px solid #d7d7d7;
display: flex;
padding: 16px 17px 14px 13px;

}

.little-store-item-img{

max-width: 141px;
max-height: 99px;
margin: 0 12px 0 0;

}

.little-item-info{

margin: 17px 0 0 0;

}

.info-utility{

display: flex;
flex-direction: column;

}

.utility-item{

display: flex;
margin: 14px 0 0 0;

}

.utility-date{

max-width: 63px;
max-height: 81px;
border: 4px solid #8ecf04;
font: 700 34px Roboto, sans-serif;
color: #303030;
box-sizing: border-box;
display: flex;
flex-direction: column;
padding: 8px 8px 11px;

}

.utility-info{

display: flex;
flex-direction: column;
margin: 0 0 0 12px;

}

.utility-date-month{

font: 400 10px Roboto, sans-serif;

}

.utility-info-title{

font: 400 18px Roboto, sans-serif;
color: #303030;
max-width: 214px;
display: inline-block;
margin: 3px 0 0 0;

}

.utility-info-description{

font: 300 12px Roboto, sans-serif;
color: #313131;
margin: 8px 0 0 0;

}


.footer-info{

max-height: 96px;
background: #669002;
margin: 70px 0 0 0;

}

.strip-info{

display: flex;
justify-content: space-between;

}

.strip-info-item{

display: flex;
margin: 14px 0;
padding: 0 38px 0 0;

}

.strip-info-item:not(:last-child){

border-right: 1px solid #709f01;

}

.strip-info-img{

margin: 0 27px 0 0;
align-self: center;

}

.strip-info-title-descr{

display: flex;
flex-direction: column;
justify-content: space-evenly;
color: #fff;

}

.strip-info-tittle{

font: 500 18px Roboto, sans-serif;
text-transform: uppercase;

}

.strip-info-description{

font: 300 14px Roboto, sans-serif;
max-width: 142px;

}

.wrap-nav-footer{ background: #709f01; }

.nav-footer{

max-height: 280px;
display: flex;
color: #fff;
justify-content: space-between;

}

.nav-about-comp li{

list-style-type: none;
margin: 0;
padding: 0;

}

.nav-about-comp li:first-child,
.nav-service li:first-child,
.nav-call-us li:first-child,
.nav-social-copyright li:first-child{

font: 400 22px Roboto, sans-serif;
margin: 45px 0 13px 0;

}


.nav-about-comp a,
.nav-service a{

text-decoration: none;
font: 300 16px Roboto, sans-serif;
line-height: 30px;
color: #fff;

}

.call-us-number{

font: 400 22px Roboto, sans-serif;
text-decoration: none;
color: #fff;

}

.number-adr{ font: 300 14px Roboto, sans-serif; }

.nav-call-us li:not(:first-child){ margin: 18px 0 0 0; }

.social-network img{ margin: 10px 14px 0 0; }

.copyright a{ color: #fff; }

.copyright{

margin: 24px 0 0 0;
font: 300 12px/16px Roboto, sans-serif;

}

.order-product{

position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.51);
z-index: 99999;
display: none;

}

.order-product.active{

display: block;
overflow-y: scroll;

}

.body-fixed{

position: fixed;
overflow-y: scroll;

}

.order-window{

max-width: 605px;
width: 100%;
background: #fff;
margin: 100px auto 0;
opacity: 1;
position: relative;


}

.order-wrapper{

max-width: 525px;
margin: 0 auto;
display: flex;
flex-direction: column;


}

.close-window{

width: 30px;
height: 30px;
position: absolute;
top: -30px;
right: -30px;
transform: rotateZ(45deg);
cursor: pointer;

}

.close-window:after,
.close-window:before{

content: '';
display: block;
width: 100%;
height: 3px;
position: absolute;
background: #fff;
top: calc(50% - 3px);

}

.close-window:after{

top: calc(50% - 3px);

}

.close-window:before{

transform: rotateZ(90deg);

}


.order-window .green-info-line{

height: 23px;
margin: 0;

}

.order-window-title{

color: #303030;
font: 300 30px Roboto, sans-serif;
text-align: center;

}

.customer-form{

margin: 0 auto;
width: 100%;

}

.customer-form fieldset{

border: none;
padding: 0;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;
max-width: 525px;

}

.customer-form input{

margin: 8px auto 8px;
color: #565656;
font: 300 20px Roboto, sans-serif;
padding: 0 0 0 24px;
height: 61px;
width: 100%;
box-sizing: border-box;

}

.sbm-btn{

max-width: 240px;
width: 100%;
height: 50px;
text-transform: uppercase;
padding: 0;
color: #fff;
background: #8ecf04;
border-radius: 4px;
border: none;

}

.price-and-buy{

display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;

}

.total-price{

font: 300 20px Roboto, sans-serif;
color: #565656;

}

.ordered-item{

max-width: none;
margin: 13px 0;

}


.slick-slide .slick-current .slick-active{

display: flex;
justify-content: center;

}

